<h1>First Visit Detected!!</h1>
<form action="/" method="post">
  <label for="name">Please enter your name here:</label>
  <input type="text" name="name">
  <input type="submit" name="newUser" value="Submit">
</form>
